*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: auto;
}
body{
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  padding-top: 110px;
}
body::-webkit-scrollbar{
  display: none;
}
nav{
  position: fixed;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  padding: 10px 0;
  background-color: white;
  border-top: 2px solid cornflowerblue;
  font-family: 'Exo 2', sans-serif;
  overflow: auto;
  width: 100%;
  height: 30px;
  top: 0;
  z-index: 40;
}
#brand img{
  width: 90px;
  height: auto;
  margin: 0 10px;
}
#menu-icon img{
  width: 20px;
  height: 20px;
  float: right;
  margin: 5px 10px 0 0;
}
.second-nav{
  position: fixed;
  top: 52px;
  border: 0;
  border-bottom: 2px solid #ccc;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 30;
  background-color: inherit;
}
.second-nav ul{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}
.second-nav ul li{
  width: 100%;
  max-width: 100px;
  height: auto;
  display: inline-block;
  /* background-color: #eee; */
  /* outline: 1px solid #ccc; */
  margin: 0;
  padding: 0;
  text-align: center;
}
.second-nav ul li img{
  width: 30px;
  margin: 0;
  padding: 0;
}
#body{
  position: relative;
  padding: 0 10px;
  z-index: 0;
}
#page-title{
  margin: 0 0 25px 0;
  padding: 0;
  border-bottom: 1px solid #aaa;
}
a{
  color: black;
}
a:hover{
  color: #000080;
}
a:visited{
  color: red;
}
.nav-title{

}
#nav-container{
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  text-align: left;
  background-color: #fff;
}
.nav{
  position: relative;
  border: 0px solid red;
  height: auto;
  text-align: left;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
}
/* @media only screen and (max-width: 630px){
  .nav{
    text-align: center;
    padding-left: 0;
  }
} */
.nav li{
  display: block;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 6px auto;
  padding: 6px;
  width: 95%;
  height: 3em;
}
.nav li a img{
  width: 15%;
  height: auto;
  max-width: 40px;
  max-height: 40px;
  margin: 0px 10px 0px 0px;
  padding 0;
  vertical-align: middle;
}
.nav a{
  color: #000;
  font-family: 'Exo 2', sans-serif;
}
#schedule{
  position: relative;
  z-index: 3;
  /* outline: 1px solid red; */
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px;
}
#schedule li{
  margin: 5px 0;
}
#schedule li div.day{
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  color: #001933;
  background-color: #b3d6ff;
  padding: 4px;
}
#schedule li div.day-class{
  color: #000;
}
em.bloco{
  color: #229;
}
em.andar{
  color: #119;
}
em.sala{
  color: #111;
}
#body p{
  margin: 10px 0;
  font-family: sans-serif;
  color: black;
}
footer.row{
  background-color: #204162;
  color: white;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
}
footer.row div{
  width: 70px;
  /* border: 1px solid red; */
  overflow: hidden;
  text-align: center;
}
.col1, .col2, .col3{
  padding: 20px 0;
}
footer.row div.col1{
  color: cornflowerblue;
  float: left;
}
footer.row div.col2{
  display: inline-block;
}
footer.row div.col3{
  color: cornflowerblue;
  float: right;
}
footer.row div.full-col{
  clear: both;
  width: 100%;
  padding: 20px 0;
}
